{
  "properties": {
    "platform": {
      "enabled": true,
      "runtimeVersion": "~1"
    },
    "globalValidation": {
      "requireAuthentication": false,
      "unauthenticatedClientAction": "AllowAnonymous"
    },
    "identityProviders": {
      "azureActiveDirectory": {
        "enabled": true,
        "registration": {
          "clientId": "__MICROSOFT_CLIENT_ID__",
          "clientSecretSettingName": "MICROSOFT_PROVIDER_AUTHENTICATION_SECRET",
          "openIdIssuer": "https://login.microsoftonline.com/9188040d-6c67-4c5b-b112-36a304b66dad/v2.0"
        }
      }
    },
    "login": {
      "tokenStore": {
        "enabled": true
      }
    },
    "httpSettings": {
      "requireHttps": true
    }
  }
}
